:root {
  --color-text-menu: #00ACDC;

}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: medium;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo {
  margin: 50px;
  width: 40px;
  height: 40px;
}



.nav__bar {
  margin-right: 50px;
  height: 60px;
  align-self: stretch;
}

.nav__list {
  display: flex;
  height: 100%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nav__list__item {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 20px;

}

.nav__list__item:first-child {
  position: relative;
  margin-left: 0;
  height: 100%;
}

.is-active::after {
  position: absolute;
  bottom: 0;
  display: block;
  content: "";
  background-color: var(--color-text-menu);
  width: 37px;
  height: 4px;
  border-radius: 8px;
}



.nav__list__link {
  text-decoration: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}

.nav__list__link:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-text-menu);
  text-decoration-thickness: 2px;
}


.nav__list :nth-child(4) > a,
.nav__list :nth-child(1) > a {
  color: var(--color-text-menu);
}

