:root {
  --color-text-menu: #00acdc;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo img {
  display: block;
}

a.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0;
  line-height: normal;
  margin-left: 50px;
}

.nav__bar {
  margin-right: 50px;
  height: 60px;
  align-self: stretch;
}

.nav__list {
  display: flex;
  padding: 0;
  margin: 0;
}

.nav__list__item {
  list-style: none;
  margin-left: 20px;
}

.nav__list__item:first-child {
  margin-left: 0;
}

.nav__list__item:last-child {
  margin-right: 0;
}

.is-active {
  position: relative;
}

.is-active::after {
  position: absolute;
  bottom: 0;
  display: block;
  content: '';
  background-color: var(--color-text-menu);
  width: 37px;
  height: 4px;
  border-radius: 8px;
}

.nav__list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  text-decoration: none;
  font-size: 12px;
  color: #000;
  padding: 0;
  text-transform: uppercase;
}

.nav__list__link:hover {
  color: var(--color-text-menu);
}

.nav__list__link.is-active {
  color: var(--color-text-menu);
}
